<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="display: block; background-color: #fdfdfd; width: 100%;">
    <div style="display: block; color: #294661; border: 1px solid #f0f0f0; padding: 10px; background: #ffffff; width: 500px; text-align: center">
        <h1>Восстановление пароля</h1>
        <h3>Вы запросили восстановление пароля.</h3>
        <h3>Кликнув на следующую ссылку Вы перейдете к восстановлению пароля</h3>
        <a href="{0}" target="_blank" style="box-sizing: border-box; border-color: #348eda; font-weight: 400; text-decoration: none; display: inline-block; margin: 0; color: #ffffff; background-color: #348eda; border: solid 1px #348eda; border-radius: 2px; font-size: 14px; padding: 12px 45px;">Восстановить пароль</a>
    </div>
</body>
</html>
