html, body {
  height: 100%;
  background: $bg-color-dark-1 !important;
  color: $txt-color-white;
}

.main-header {
  background: $bg-color-dark-1 !important;;
  // border-bottom: 1px solid rgba(0,0,0,0.10);
}

.card-pay img {
  padding: 25px;
  border-radius: 50px;
}

.main-header .nav-item a {
  position: relative;
  display: block;
  font-size: 17px;
  color: #fff !important;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0 5px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-header .nav-item a.active {
  border-bottom: 4px solid rgb(204, 204, 204)
}

.prlxblock1 {
  padding: 50px 0;
  background-image: url('assets/images/p1.jpg');  
}

.prlxblock2 {
  min-height: 100%;
  background-image: url('assets/images/p5.jpg');  
}

.prlxblock3 {
  min-height: 100%;
  background-image: url('assets/images/p2.jpg');  
}

.prlxblock4 {
  min-height: 100%;
  background-image: url('assets/images/p3.jpg');  
}

.prlxblock5 {
  min-height: 100%;
  background-image: url('assets/images/p4.jpg');  
}

.gift-block {
  background-color: rgba($color: whitesmoke, $alpha: 0.6);
  padding: 5px;
}

.gift-block .bordered {
  border: 2px solid rgb(204, 199, 196);
  padding: 25px;
  min-height: 300px;
  min-width: 450px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start
}


.prblock1 {
  /* Set a specific height */
  min-height: 100%; 
  background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');   
}

.prblock2 {
  background-image: url('https://www.w3schools.com/howto/img_parallax2.jpg');
  /* Set a specific height */
  min-height: 100%; 
}

.prblock3 {
  background-image: url('https://www.w3schools.com/howto/img_parallax3.jpg');
  min-height: 100%; 
}

.vote-card {
  color: black;
}

.vote-card .card-img-top {
  max-height: 170px;
  align-self: center;
  width: auto;
}

.card-home, .vote-card  {
  overflow-x: hidden;
}

.card-home .card-img-top, .vote-card .card-img-top {
  transform: scale(0.8);
  transition: transform 3s; /* Animation */
  margin-bottom: 1rem;
}


.card-home:hover .card-img-top {
  opacity: 0.6;
  transform: scale(1.2);
}

.vote-card:hover .card-img-top {
  opacity: 0.6;
  transform: scale(1);
}

.card-home:hover {
  border: 1px solid $bg-color-dark-1 !important
}


.step {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: antiquewhite;
  display: flex;
  align-items: center
}

.step .number {
  font-size: 4rem;
  margin-right: 15px;
}

.step .number.odd {
  padding-left: 50px;
}

.txt {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.prlx {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}